* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

:root {
  width: 100%;
  height: 100%;
}

#counters {
  color: black;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.memoryContainer {
  width: 100dvw;
  height: 100dvh;
  position: relative;
  bottom: 0rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &.t1 {
    transition: width .5s ease 2s, height 0.5s ease 2.5s;
  }
  &.t2 {
    transition: height .5s ease 2s, width 0.5s ease 2.5s;
  }

  &.over {
    width: 50dvw;
    height: 50dvh;
    & > #counters, .buttons {
      opacity: 0;
    }
    & > #currentFace {
      right: 15%;
    }
    & #hidden {
      opacity: 1;
      left: 130%;
    }
    & #text {
      top: 80%;
      height: 120%;
    }
  }
}

#currentFace {
  position: relative;
  height: 10rem;
  object-fit: contain;
  margin: 1rem 0 2rem;
  right: 0;
  & > img {
    height: 100%;
    object-fit: contain;
  }
}

.buttons {
  display: flex;
  gap: 2rem;

 
}

.t1 {
  transition: all 0.5s ease 2s;
}
.t2 {
  transition: all 0.5s ease 2.5s;
}

#hidden {
  position: absolute;
  left: 110%;
  top: 0;
  width: 30rem;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;

  align-self: flex-start;
  color: black;

  & > h2 {
    font-size: 2rem;
    margin: 0;
  }
}

#restart {
  border-radius: 30px;
  background-color: black;
  color: white;
  border: none;
  padding: 0.7rem 1rem;
  width: max-content;
  font-size: 1.2rem;
  font-weight: bold;
}

.Author {
  height: 200%;
  width: 50dvw;
  position: absolute;
  top: 0;
  left: 100%;
  align-self: flex-start;
  object-fit: cover;
  top: 2rem;
}

#text {
  color: black;
  position: absolute;
  top: 110%;
  width: 100%;
  height: 100%;
/*   overflow: scroll;
 */  padding: 0 2rem 2rem 2rem;
  box-sizing: border-box;
  font-size: 1.3rem;
  transition-duration: 0.5s;
}
