.react-flow__node {
  border: none !important;
  & .selected{
    border: none !important;
  }
}

.react-flow__handle {
  width: 15px !important;
  height: 15px !important;
}

.react-flow__handle-bottom {
  bottom: -2rem !important;
}

.react-flow__handle-top {
  top: -1rem !important;
}

.game{
  transition: all 0.5s ease-in 2s;
  &.completed{
    pointer-events: none;
    opacity: 0;
  }
}


.signsContainer{
  position: relative;
  width: 100vw;
  height: 100vh;
  transition: height 0.5s ease/* , width 0.5s ease .5s */;

  > .game, >.completedMessage{
    opacity: 1;
    pointer-events: all;
    transition: all 0.3s ease 1.5s;
  }

  &.completed{
    height: 1px;
    /* width: 50dvw; */
    transition: /* width 0.5s ease 1s , */ height 0.5s ease 1.5s;
    
    & > .game, >.completedMessage{
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s ease 1s;
    }

    &>#signsAuthor{
      left: 50%;
      transition: all 0.5s ease 1s;
    } & #instructionssignals {
      opacity: 0;
    }
  }
}


#signsAuthor{
  position: absolute;
  top:0;
  left: 100%;
  height: 100dvh;
  width: 50vw;
  object-fit:cover;
  transition: all 0.5s ease .5s;
}
#signsHidden{
  position: absolute;
  top:100%;
  left: 0;
  height: 100dvh;
  width: 50vw;
  padding: 2rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
  align-items: center;

  &>p{  
    overflow: scroll;
    font-size: 1.3rem;
  }
}



#instructionssignals{
  position: absolute;
  bottom: 5rem;
  right: 5rem;

  &>p{
    position: absolute;
    right: 0;
    bottom: calc(100% + 0rem);
    width: 24rem;
    background-color: white;
    border-radius: 1rem;
    border: 1px solid black;
    padding: 1rem;

    opacity: 0;
    transition: all 0.5s ease;
    pointer-events: none;
    }
  &:hover>p{
    opacity: 1;
    bottom: calc(100% + 1rem);
  }
}