.react-flow__node {
  border: none !important;
  & .selected{
    border: none !important;
  }
}
.react-flow__nodes {

}


.react-flow__viewport {
  /*transform: none !important;*/
}

.react-flow__handle {
  width: 15px !important;
  height: 15px !important;
}

.react-flow__handle-bottom {
  bottom: -2rem !important;
}

.react-flow__handle-top {
  top: -1rem !important;
}

.game{
  transition: all 0.5s ease-in 2s;
  &.completed{
    pointer-events: none;
    opacity: 0;
  }
}